* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 3rem;
}
button {
  font-size: 1.2rem;
}
#wrapper {
  margin: auto;
  text-align: center;
  width: 80vw;
  display: flex;
  justify-content: center;
}
form {
  display: inline-block;
  margin-bottom: 2rem;
}

label > input[type="text"], form > input[type="submit"],#wrapper > div > button {
  padding: 0.5rem;
  font-size: 1rem;
}
label {
  font-size: 1.5rem;
  cursor: pointer;
}
label > span {
  font-weight: bold;
  margin-right: 5px;
}
ul {
  box-sizing: content-box;
  list-style-type: none;
  width: 70vw;
  height: 70vh;
  padding: 15px;
  margin-top: 2rem;
  margin: auto;
  padding-top: 0rem;
  overflow: auto;
  font-size: 2rem;
}
h1 {
  border-bottom: 2px solid black;
  font-size: 3rem;
}
li {
  width: 100%;
  margin-top: 15px;
  padding: 1.5rem;
  color: black;
  background-color: rgb(187, 187, 130);
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
input[type="submit"],button ,.list-item-btn {
  background: rgb(187, 187, 130);
  border: 0.5px solid rgb(48, 47, 47);
  border-radius: 5px;
  margin-right: 5px;
  margin: 3px 3px;
  padding: 1rem 2rem;
  cursor: pointer;
}

input[type="submit"] {
  margin-left: 1.5rem;
}
button:hover, li.edit-field > form > input[type="submit"]:hover,input[type="submit"]:hover {
  background: rgb(238, 238, 132);
  transition: 0.5s background;
}

li.edit-field > form {
  margin: 0;
}
li.edit-field {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

li.edit-field > form > input[type="submit"] {
      background: rgb(187, 187, 130);
    border: 0.5px solid rgb(48, 47, 47);
    border-radius: 5px;
    margin-right: 5px;
    margin: 3px 3px;
    padding: 1rem 2rem;
    cursor: pointer;
}
